.instructions {
  --back-color: #fff;
  --front-color: #000;
  background-color: var(--back-color);
  color: var(--front-color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.instructions.is-playing {
  display: none;
}

.instructions.stage-1 {
  --back-color: #2d694e;
  --front-color: #fff;
}

.instructions.stage-2 {
  --back-color: #432a90;
  --front-color: #fff;
}

.instructions.stage-3 {
  --back-color: #8c5b37;
  --front-color: #fff;
}

.instructions.stage-4 {
  --back-color: #ce3b28;
  --front-color: #fff;
}

.instructions.stage-5 {
  --back-color: #2a2a41;
  --front-color: #fff;
}

.instructions.stage-6 {
  --back-color: #2849d0;
  --front-color: #fff;
}

.instructions.stage-7 {
  --back-color: #4b1430;
  --front-color: #fff;
}

.instructions.stage-8 {
  --back-color: #414863;
  --front-color: #fff;
}

.instructions.stage-9 {
  --back-color: #2d694e;
  --front-color: #fff;
}

.instructions-container {
  max-width: 30rem;
  margin: 0 auto;
}

.instructions h1, .instructions .button-container {
  text-align: center;
}

.instructions button {
  border: 2px solid var(--front-color);
  background-color: transparent;
  color: var(--front-color);
  padding: 10px 20px;
  margin: 1rem 0;
}
